# python=3.10.16
dgl==2.1.0
drain3==0.9.11
ipykernel==6.29.5
matplotlib==3.10.0
networkx==3.4.2
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.0
scipy==1.14.1
tqdm==4.67.1
torchvision==0.20.1
torch==2.6.0
torchdata==0.10.1
faiss-cpu==1.10.0
gitpython==3.1.44
langchain==0.3.19
langchain_community==0.3.18
langchain_openai==0.3.6
modelscope==1.23.0
openai==1.77.0
vllm==0.8.5.post1
esprima==4.0.1
tree_sitter==0.21.3
ollama==0.4.7
fastparquet==2024.11.0
pyarrow==19.0.1
seaborn==0.13.2
wordcloud==1.9.4
squarify==0.4.4
nltk==3.9.1
textstat==0.7.5
mcp==1.6.0
exa_py==1.12.1
tree-sitter-languages==1.10.2